.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.about-container h1 {
    margin-bottom: 15px;
    
}

.p-container {
    display: inline-block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border: 10px;
    
}

.p-container p {
    color: rgb(255, 255, 255);
    font-weight: 300;
    text-align: left;
}