.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    //margin-top: 5vh;
    animation: fade-up .5s forwards;
}

.about-container h1 {
    margin-bottom: 5px;
    
}

.p-container {
    display: inline-block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border: 10px;
    line-height: 26px;
}

.p-container p {
    color: rgb(204, 204, 204);
    font-weight: 400;
    font-size: 18px;
    text-align: left;
}

.tech-list {
    
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
}

.tech-list li {
    color: rgb(204, 204, 204);
    padding-left: 1.5em;
    margin-bottom: 10px;
    position: relative;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
}

.tech-list li::before {
    content: '>';
    position: absolute;
    left: 0;
    color: #afd5aa;
    
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}