.name, .role, .greeting {
    margin: 0%;
    //padding-bottom: 25px;
}

.greeting {
    font-weight: 400;
    font-size: 20px;
    color: white;
    transform: translateY(310px);
    padding-left: 20%;
}

.name {
    font-weight: 700;
    font-size: 110px;
    color: #afd5aa;
}

.role {
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-top: 10px;
}

.landing {
    //float: left;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start; 
    height: 90vh; 
    padding-left: 20%; 
    text-align: left;
    margin: 0;
    width: 60%;
    //margin-top: -100px;
    background: transparent;
}

.landing-image {
    //z-index: 50;
    position: relative;
    transform: translateX(875px);
    max-width: 200px;
    height: auto;
    width: 100%;
}

.landing-image img {
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: auto;
    margin-top: -200px;
}

.cursor {
    transform: translateY(4px);
    position: absolute;
    display: inline-block;
    background-color: white; /* Cursor color */
    width: 10px; /* Adjust for cursor thickness */
    height: 23px; /* Adjust to match the height of your text */
    vertical-align: middle;
    margin-left: 3px; /* Optional, for spacing between the text and cursor */
    animation: blink 1s step-end;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

button {
    opacity: 0;
    transform: translateY(30px);
    animation: fade-up .5s forwards;
}

.name, .role, img {
    opacity: 0;
    transform: translateY(30px);
    animation: fade-up .5s forwards;
}