@font-face {
    font-family: Helvetica;
    src: url(./fonts/Helvetica-Bold-Font.ttf);
}

@font-face {
    font-family: Geist;
    src: url(./fonts/GeistVariableVF.ttf)
}

@font-face {
    font-family: Geist-Mono;
    src: url(./fonts/GeistMonoVariableVF.ttf);
}
  
.helvetica {
    font-family: Helvetica;
}

.pixel {
    font-family: 'M PLUS 1 Code', monospace;
}

.sora { 
    font-family: 'Sora', sans-serif;
}

.inter {
    font-family: 'Inter', sans-serif;
}

.geist {
    font-family: Geist;
}

.geist-mono {
    font-family: Geist-Mono;
}

.ubuntu { 
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
}